/*<<< -------------- CSS Reset ------------>>>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// <<< -------------- Variables ------------>>>
$color1: #3ee9e5;
$color2: #093f68;
$color3: #777f98;
$color4: #ffffff;
$color5: #080c20;
$color6: #ff2965;

// <<< -------------- Media query Mixins ------------>>>
@mixin media-phone {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin media-custom($width) {
  @media (max-width: $width) {
    @content;
  }
}

/*<<< -------------- Base h1-h3 and p------------>>>*/
h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}

p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: $color3;
}

/*<<< -------------- UI Commponents ------------>>>*/

.btn {
  width: 140px;
  height: 48px;
  border-radius: 24px;
  background-color: $color1;
  color: $color2;
  font-weight: 800;
  line-height: 25px;
  text-align: center;

  &:hover,
  &:active {
    background-color: $color5;
    color: $color4;
    border: 2px solid $color1;
  }
}

.txt-input {
  width: 320px;
  height: 48px;
  border-radius: 24px;
  background-color: $color2;
  color: $color4;

  &:active {
    border: 2px solid $color1;
  }

  &:invalid {
    border: 2px solid $color6;
  }
}

/*<<< -------------- Utility ------------>>>*/
.highlight-color {
  color: $color1;
}
