@use "base";

/*<<<------------------ Page Layout -------------------->>> */

.page {
  color: base.$color4;
  background-color: base.$color5;
  padding: 80px 0px 130px;

  @include base.media-tablet {
    padding: 55px 0px 115px;
  }

  &__header {
    margin-left: 165px;
    margin-bottom: 115px;

    @include base.media-tablet {
      margin-left: 87px;
      margin-bottom: 80px;
    }

    @include base.media-phone {
      margin: auto;
      margin-bottom: 80px;
    }
  }
}

/*<<<------------------ Header Section -------------------->>> */

.header {
  width: 120px;
  height: 35px;
  background: url(../logo.svg);
}

/*<<<------------------ Main Section -------------------->>> */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;

  @include base.media-custom(1200px) {
    gap: 100px;
  }
}

/*<<<------------------ Hero Section -------------------->>> */

.hero {
  width: 100%;
  height: 459px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../illustration-hero-left.svg) no-repeat,
    url(../bg-hero-squiggle.svg) no-repeat,
    url(../illustration-hero-right.svg) no-repeat;
  background-position: -50px 0px, 50% 50%, 108% 0%;

  @include base.media-tablet {
    background-position: -200px 0px, 50% 50%, 155% 0%;
  }

  @include base.media-custom(600px) {
    background: url(../illustration-hero-mobile.png) no-repeat 50% 0% / 400px
      233px;
    height: 650px;
    align-items: flex-end;
  }

  &__text {
    width: 540px;
    height: 318px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: base.$color4;

    @include base.media-tablet {
      width: 450px;
    }

    @include base.media-custom(600px) {
      width: 327px;
    }
  }
  &__logo {
    margin-top: auto;
  }
}

/*<<<------------------ Feature Section -------------------->>> */

.feature {
  width: 1110px;
  height: 383px;
  display: flex;
  gap: 30px;

  @include base.media-custom(1200px) {
    width: 573px;
    height: 614px;
    flex-direction: column;
    align-items: flex-end;
  }

  @include base.media-custom(600px) {
    width: 327px;
    height: 1134px;
    text-align: center;
    gap: 55px;
  }

  &__item {
    width: 255px;
    height: 335px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    &--alternate {
      align-self: flex-end;
      @include base.media-custom(1200px) {
        align-self: flex-start;
      }
    }

    @include base.media-custom(1200px) {
      width: 515px;
      flex-direction: row;
      gap: 55px;
    }

    @include base.media-custom(600px) {
      width: 327px;
      align-items: center;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__text {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include base.media-custom(1200px) {
      width: 340px;
      height: 86px;
      gap: 11px;
      align-self: center;
    }
  }

  &__icon {
    width: 160px;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    background-color: base.$color2;
  }
}

/*<<<------------------ Pricing Section -------------------->>> */

.pricing {
  width: 920px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;

  &__text {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

  &__card-container {
    width: 920px;
    height: 482px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.card {
  width: 445px;
  height: 425px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: base.$color2;
  padding: 38px;
  position: relative;
  border-radius: 8px;

  &--alternate {
    background-color: base.$color1;
    color: base.$color5;
  }

  &__logo {
    width: 46px;
    height: 46px;
    position: absolute;
    top: -25px;
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    color: inherit;
  }

  &__price {
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    color: inherit;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    list-style-image: url(../icon-check-alternate.svg);
    list-style-position: inside;

    .card--alternate & {
      list-style-image: url(../icon-check.svg);
    }
  }
}
