/* Error: Undefined mixin.
 *     ,
 * 104 | /   @include media-tablet {
 * 105 | |     width: 573px;
 * 106 | |     height: 614px;
 * 107 | |     flex-direction: column;
 * 108 | \   }
 *     '
 *   assets\css\style.scss 104:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 104 \2502  \250c    @include media-tablet {\a 105 \2502  \2502      width: 573px;\a 106 \2502  \2502      height: 614px;\a 107 \2502  \2502      flex-direction: column;\a 108 \2502  \2514    }\a     \2575 \a   assets\\css\\style.scss 104:3  root stylesheet";
}
